.header {
	width: 100%;
	position: relative;
	height: 70px;
	background-color: #0AA319;
	box-shadow: -2px 8px 22px -7px #000000;
}

.header__wraper {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
	align-items: center;
	padding-top: 22px;
}

.header__wraper a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-family: monserat-jp, sans-serif;
}

.header__languages {
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.profile {
	position: relative;
}

.profile img {
	padding-right: 5px;
}
